<!DOCTYPE html>
<html lang="fr">

<head>
	<base href="{{config["siteUrl"]}}">
	<meta charset="UTF-8">
	<title>Design4Green</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<link rel="stylesheet" href="..\..\..\node_modules\chartist\dist\chartist.min.css">
	{% block header %}
	{% endblock %}
	{% block css %}
	{{css('css/reset.css') | raw}}
	{{css('css/styles.css') | raw}}
	{{css('css/global.css') | raw}}
	{{css('css/styleUtilisateur.css') | raw}}
	{% endblock %}
</head>

<body>
	<!-- {% block head %}
	{% endblock %} -->

	<header class="top_header">
		<div class="title">
			<img src="../../../public/assets/img/logo_subvert_100px.png" alt="Logo" class="header_logo">
			<a href="/consommation" class="link">Mon espace</a>
		</div>

		
		{{ _userInfo | raw}}
	</header>

	{% block body %}
	{% endblock %}