body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #DDD;
    background-color: #252525;
    margin: 0;
}

/* h1{
    font-size: 1.3em;
    font-weight: bold;

    border-left: solid;
    border-right: solid;

    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

hr{
    width: 80%; 
}*/

footer {
    border: 1px solid #000;
    background-color: #121212;
    width: 100%;
    padding: 10px;
  }