/* h2{
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 10px;
    margin-top : 30px;
}


h3{
    font-size: 1.05em;
    font-weight: bold; 
    padding-bottom: 10px;
    padding-top : 10px;
}

#houseInfo{
    margin: 20px;
}

#userInfo{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
}

#userTextInfo{
    margin-left: 30px;
}

#city{
    margin-top:10px;
}


#userInfo > img{
    margin-right: 10px;
    width: 20%;
}

#userDetails{
    text-align: left;
    border-left: solid;
    border-color : #DDD;
    padding: 10px;
    margin-top : 10px;
}

#userDetail > summary{
    padding-left : 20px;
}

#userDetail > p.first-of-type{
    padding-top : 10px;
}

#userDetails > p{
    margin-top: 5px;
    margin-bottom : 5px;
    margin-left: 20px;
}

#userDetails > p > strong{
    text-decoration: underline;
} */