.top_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px 100px;
	box-shadow: 0px -4px 25px 0px rgba(0, 0, 0, 0.75);
	background-color: #121212;

	.title {
		display: flex;
		align-items: center;
		.header_logo {
			width: 100px;
			display: block;
			margin-right: 40px;
		}
		.link{
			font-size: 1.2em;
			color: #DDD;
			text-decoration: none;
			padding-bottom: 8px;
			border-bottom: 1px solid #57b82e;

			&:hover{
				color: #DDD;
				border-bottom: 1px solid #DDD;
			}
		}
	}

	#_userInfo {
		display: flex;
		align-items: baseline;

		.username {
			margin-right: 10px;
			text-transform: capitalize;
		}

		.log_btn {
			border: 1px solid #ddd;
			border-radius: 6px;
			padding: 5px 10px 10px 10px;

			a {
				color: #ddd;
				text-decoration: none;
			}

			&:hover {
				cursor: pointer;
				background: #ddd;
				a {
					color: #121212;
				}
			}
		}
	}

	@media only screen and (max-width: 600px) {
		padding: 10px 20px;

		.header_logo {
			width: 25%;
		}
	}
}

/* Page Affichage Consommation Utilisateur */
.page_conso {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 80vh;
	padding: 40px 100px;

	.page_title {
		font-size: 2em;
		letter-spacing: 0.1em;
		margin-bottom: 1em;
	}

	.main_content {
		display: flex;

		.info_container {
			display: inherit;
			flex-direction: column;
			width: 25%;
			border-right: 1px solid #ddd;

			.info_title {
				display: inherit;
				align-items: center;
				margin-bottom: 1em;
				font-size: 1.8em;
				line-height: 17px;

				img {
					display: block;
					width: 30px;
					margin-right: 10px;
				}
			}

			.info_content {
				p {
					margin: 0.3em 0 0.67em 0;
					line-height: 24px;
				}
			}
		}

		.graphs_container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 75%;
			padding-left: 40px;

			.toggleBtn {
				align-self: flex-end;
				background: transparent;
				border: 1px solid #ddd;
				border-radius: 6px;
				color: #ddd;
				padding: 8px;
			}

			#grapheConsommationMaison {
				display: flex;
				flex-direction: column;
				width: 100%;

				.hiddenValues {
					display: none;
				}

				.ct-chart {
					margin: 2em 0;
					height: 50vh;

					.ct-chart-line {
						overflow: visible;

						g:not(.ct-grids):not(.ct-labels) g {
							.ct-point,
							.ct-line {
								stroke: #57b82e;
							}
						}

						.ct-labels {
							.ct-label {
								color: #ddd;
							}

							.ct-horizontal.ct-end {
								transform-origin: 100% 0;
								transform: translate(-90%) rotate(-45deg);
								min-width: 90px;
							}
						}

						.ct-grids line {
							stroke: #424242;
						}
					}
				}
			}

			#consoTable {
				display: flex;
				margin-top: 2em;
				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
				border-collapse: collapse;
				// width: 100%;
				text-align: center;
			}

			#consoTable td,
			#consoTable th {
				border: 1px solid #ddd;
				padding: 8px;
			}

			#consoTable tr:nth-child(even) {
				background-color: #f2f2f2;
				color: #121212;
			}

			#consoTable tr:hover {
				background-color: #ddd;
				color: #121212;
			}

			#consoTable th {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: left;
				background-color: #4caf50;
				color: white;
			}
		}
	}

	@media only screen and (max-width: 600px) {
		align-items: center;
		padding: 40px 20px;

		.main_content {
			flex-direction: column;
			justify-content: center;
			width: 100%;

			.info_container {
				width: 100%;
				border-right: none;
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px solid #ddd;
			}

			.graphs_container {
				width: 100%;
				padding-left: 0;
			}
		}
	}
}

/* Page Affichage Consommation Utilisateur */
.page_operateur {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 80vh;
	padding: 40px 100px;

	#consoTable {
		margin-top: 2em;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
		text-align: center;
	}

	#consoTable td,
	#consoTable th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	#consoTable tr:nth-child(even) {
		background-color: #f2f2f2;
		color: #121212;
	}

	#consoTable tr:hover {
		background-color: #ddd;
		color: #121212;
	}

	#consoTable th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #4caf50;
		color: white;
	}
}

.page_cgu {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 80vh;
	padding: 40px 100px;

	h1 {
		font-size: 2em;
		margin: 0.67em 0 0.67em 0;
	}
	h2 {
		font-size: 1.5em;
		margin: 0.57em 0 0.57em 0;
	}
	p {
		margin: 0.2em 0 0.2em 0;
		text-align: justify;
	}
	a {
		color: #57b82e;
		&:hover{
			color: #ddd;
		}
	}
}

.footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3px 40px;
	border: 1px solid #000;
    background-color: #121212;
    width: 100%;

	.footer_menu{
		display: flex;
		a {
			color: #57b82e;
			text-decoration: none;
			margin: .3em .3em; 
			&:hover{
				color: #ddd;
			}
		}
	}
}