<!--View associated to index action of CguController controller -->

{% block body %}

<div class="page_cgu">

    <h1>Conditions générales d'utilisation du site carnet numérique du logement</h1>

    <h2>ARTICLE 0 : Informations général</h2>
    <p><br />
        Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance
        dans
        l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : 
        <a href="http://51.83.40.255" target="_blank">51.83.40.255</a> les informations suivantes :</p>

    <p><strong>ÉDITEUR</strong></p>

    <p>Le site <a href="http://51.83.40.255" target="_blank">51.83.40.255</a>
        est
        la propriété exclusive de <strong>SARL </strong><strong>SUB'VERT</strong>, qui l'édite.</p>

    <p><strong>SUB'VERT</strong><strong> </strong><br />
        <strong>SARL </strong>au capital de<strong> </strong><strong>XXXXXXXX </strong>€Tél :
        <strong>0000000000</strong>
    </p>

    <p><strong>Université de La Rochelle </strong><strong>17000 La Rochelle</strong><br />
        Immatriculée au Registre du Commerce et des Sociétés de <strong>XXXXXXXXX </strong>sous le numéro<strong>
        </strong><strong>XXXXXXXX</strong><strong> </strong></p>

    <p>Numéro TVA intracommunautaire : <strong>XXXXXXXXX</strong><br />
        Adresse de courrier électronique : <strong>XXXXXXXX@XXXXXX.fr</strong> <br />
        <br />
        Directeur de la publication : <strong>Benjamin PARPAILLON</strong><br />
        Contactez le responsable de la publication : <strong>XXXXXXXX@XXXXXXX.fr</strong></p>

    <p> </p>

    <p><strong>HÉBERGEMENT</strong></p>

    <p>Le site est hébergé par <strong>XXXXXXXX Université de la rochelle 17000 La
            Rochelle</strong><br /></p>




    <h2>ARTICLE 1 : Objet</h2>

    <p>Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation du
        site
        carnet numérique du logement et de ses services. </p>

    <p>Ce contrat est conclu entre : </p>

    <p>Le gérant du site internet, ci-après désigné « l’Éditeur », </p>

    <p>Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur
        ».
    </p>

    <p>Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut
        acceptation de ces conditions. </p>


    <h2>ARTICLE 2 : Mentions légales</h2>

    <p>Le site carnet numérique du logement est édité par la société SUB’VERT, équipe dont le siège social est situé à
        La
        Rochelle. </p>

    <p>La société est représentée par Benjamin PARPAILLON. </p>


    <h2>ARTICLE 3 : accès aux services</h2>

    <p>L’Utilisateur du site carnet numérique du logement a accès aux services suivants : </p>
    <ul>
        <li>Inscription sur le site</li>
        <li>Consultation de sa consommation énergétique</li>
        <li>Consultations des informations de son logement</li>
    </ul>

    <p>Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site. Les frais
        supportés
        par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de
        l’Éditeur.</p>
    <p>Les services suivants ne sont accessibles que pour l’Utilisateur s’il est membre du site (c’est-à-dire qu’il est
        identifié à l’aide de ses identifiants de connexion) :</p>
    <ul>
        <li>Consultation de sa consommation énergétique</li>
        <li>Consultations des informations de son logement</li>
    </ul>

    <p>Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion
        d’une
        maintenance, sans obligation de préavis ou de justification.</p>

    <h2>ARTICLE 4 : Responsabilité de l’Utilisateur</h2>

    <p>L'Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de
        passe.
    </p>
    <p>Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation de mot de passe, l’Éditeur décline
        toute
        responsabilité.
    </p>
    <p>L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents
        sur
        le site carnet numérique du logement.
    </p>
    <p>Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit
        faire
        l'objet d'une indemnisation au profit du site.
    </p>

    <h2>ARTICLE 5 : Responsabilité de l’Éditeur</h2>

    <p>Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.
    </p>
    <p>De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et
        insurmontable d'un tiers.
    </p>
    <p>Le site carnet numérique du logement s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la
        sécurité
        et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.
    </p>
    <p>L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations
        diffusées
        sur le site soient réputées fiables.
    </p>

    <h2>ARTICLE 6 : Propriété intellectuelle</h2>

    <p>Les contenus du site carnet numérique du logement (logos, textes, éléments graphiques, vidéos, etc.) son protégé
        par
        ledroit d’auteur, en vertu du Code de la propriété intellectuelle.
    </p>
    <p>L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de
        ces
        différents contenus.
    </p>
    <p>Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial est interdit.
    </p>
    <p>L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter
        atteinte
        àun tiers.
    </p>
    <p>L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en
        ligne
        par les utilisateurs, et ce sans justification.
    </p>

    <h2>ARTICLE 7 : Données personnelles</h2>

    <p>L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le
        site.
    </p>
    <p>L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site pour la communication
        d’informations diverses et la gestion du compte.
    </p>
    <p>Le site carnet numérique du logement garantie le respect de la vie privée de l’utilisateur, conformément à la loi
        n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
    </p>
    <p>Le site est déclaré auprès de la CNIL sous le numéro suivant : 00000000.
    </p>
    <p>En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de
        rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via :
    </p>
    <ul>
        <li>Son espace personnel sur le site ;</li>
        <li>Un formulaire de contact ;</li>
        <li>Par mail ;</li>
        <li>Par voie postale.</li>
    </ul>

    <h2>ARTICLE 8 : Liens hypertextes</h2>

    <p>Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité
        del’Éditeur de carnet numérique du logement, qui n’a pas de contrôle sur ces liens.
    </p>
    <p>Il est possible pour un tiers de créer un lien vers une page du site carnet numérique du logement sans
        autorisationexpresse de l’éditeur.
    </p>

    <h2>ARTICLE 9 : Évolution des conditions générales d’utilisation</h2>

    <p>Le site carnet numérique du logement se réserve le droit de modifier les clauses de ces conditions générales
        d’utilisation à tout moment et sans justification.
    </p>

    <h2>ARTICLE 10 : Durée du contrat</h2>

    <p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter
        du
        début de l’utilisation du service.
    </p>

    <h2>ARTICLE 11 : Droit applicable et juridiction compétente</h2>

    <p>Le présent contrat dépend de la législation française.
    </p>
    <p>En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux de La Rochelle sont
        compétents pour régler le contentieux.</p>


</div>

{% endblock %}